<div class="grid grid-cols-3 gap-4">

<%# abjuration %>
    <div>
        <p> abjuration </p>
    </div>
    <div>
        <p> <%= character.abjuration %> </p>
    </div>
    <div> +/- </div>

<%# conjuration %>
    <div>
        <p> conjuration </p>
    </div>
    <div>
        <p> <%= character.conjuration %> </p>
    </div>
    <div> +/- </div>

<%# divination %>
    <div>
        <p> divination </p>
    </div>
    <div>
        <p> <%= character.divination %> </p>
    </div>
    <div> +/- </div>

<%# enchantment %>
    <div>
        <p> enchantment </p>
    </div>
    <div>
        <p> <%= character.enchantment %> </p>
    </div>
    <div> +/- </div>

<%# evocation %>
    <div>
        <p> evocation </p>
    </div>
    <div>
        <p> <%= character.evocation %> </p>
    </div>
    <div> +/- </div>

<%# illusion %>
    <div>
        <p> illusion </p>
    </div>
    <div>
        <p> <%= character.illusion %> </p>
    </div>
    <div> +/- </div>

<%# necromancy %>
    <div>
        <p> necromancy </p>
    </div>
    <div>
        <p> <%= character.necromancy %> </p>
    </div>
    <div> +/- </div>

<%# transmutation %>
    <div>
        <p> transmutation </p>
    </div>
    <div>
        <p> <%= character.transmutation %> </p>
    </div>
    <div> +/- </div>
</div>